.box{
    width: 1000px;
    height: 700px;
    background: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-up{
    width: 300px;
    height: 200px;
    background: red;
    z-index: 1;
}